:root {
  --white: #ffffff;
  --black: #000000;
  --main: rgb(199, 154, 115);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 13px;
  overscroll-behavior: none;
  overflow: hidden;
}

.lil-gui {
  z-index: 2;
}

#main-menu,
#ending {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 3s ease-in-out;
}

#heading {
  font-size: 10em;
  line-height: 0.7em;
  font-weight: 900;
  text-align: left;
  margin-left: 0.5em;
}

#button {
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
  padding: 0.3em 0.5em;
  margin: 4em 0 1.4em 0;
  cursor: pointer;
  font-size: 3em;
  font-weight: 900;
  width: 10em;
}

#button:hover {
  color: var(--main);
  border: 2px solid var(--main);
}

#button:active {
  transform: scale(0.98);
}

#instructions {
  font-size: 1.4em;
  text-align: left;
  max-width: 40ch;
  letter-spacing: 0.15em;
  text-align: justify;
  text-justify: auto;
}

#credits {
  font-size: 1.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-weight: 900;
}

#ending {
  opacity: 0;
  transition: opacity 10s ease-in-out;
  z-index: 3;
}

#subtitles-button {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 0.4em;
  font-size: 1.1em;
}

#subtitles {
  z-index: 2;
  position: sticky;
  bottom: 2em;
  padding: 0.2em;
  opacity: 0;
  background: black;
  color: var(--white);
  width: fit-content;
  max-width: 60ch;
  max-height: fit-content;
  text-align: center;
  font-size: 2em;
  margin: auto;
}
